<%- include('../partials/head-admin')%>

  <body class="body-add flexV">
    <section class="container-delete boxShadow">
      <h2>Eliminar producto</h2>
      <p>¿Esta seguro que deseas eliminar el producto?</p>
      <section class="flexV containerBtn">
        <a href="/admin" class="btn-cancel ">Cancelar</a>
        <a href="#" class="btn-add">Eliminar</a>
      </section>
    </section>
  </body>

  </html>