<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libreria Books</title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="./css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
    integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href=".././css/styles_generic.css">
</head>
<header class="header-admin">
  <div class="flexH header-top">
    <img src="../../images/logo_white.png" alt="logo" title="logo">
    <h4>Nombre administrador</h4>
  </div>
  <nav>
    <ul>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-box-open textShadow"></i>Productos</a></li>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-chart-pie textShadow"></i>Informes</a></li>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-file-invoice-dollar textShadow"></i>Factura</a></li>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-users textShadow"></i>Clientes</a></li>
      <li class="item-menu_admin ani textShadow"><a href="#"><i class="fas fa-cogs"></i>Configuración</a></li>
    </ul>
  </nav>
</header>

<body>

</body>

</html>