<%- include('../partials/head')%>

  <body class="body-manage">
    <section class="image-logo">
      <a href="/">
        <img class="books" src='../../images/Logo_BooksLibreria.png' alt="logo Books librería"
          title="logo Books librería">
      </a>
    </section>
    <section class="section-btn-add-manage">
      <a href="#" class="btn-add">
        <i class="fas fa-plus"></i>
        <span>Agregar nuevo</span>
      </a>
    </section>
    <section class="section-list-products-manage">
      <article>
        <div class="image-book-manage">
          <img src="../../images/libro_pez.jpg" alt="libro_pez" title="libro_pez" />
        </div>
        <h5>Pez Superventa 20xx</h5>
        <div class="content-action">
          <a href="/" class="btn_circle">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/" class="btn_circle">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </article>
      <article>
        <div class="image-book-manage">
          <img src="../../images/libro_tu_mundo_en_el_mio.jpg" alt="libro_tu_mundo_en_el_mio"
            title="libro_tu_mundo_en_el_mio" />
        </div>
        <h5>Tu mundo en el mio</h5>
        <div class="content-action">
          <a href="/" class="btn_circle">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/" class="btn_circle">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </article>
      <article>
        <div class="image-book-manage">
          <img src="../../images/libro_el_principito.jpg" alt="libro_el_principito" title="libro_el_principito" />
        </div>
        <h5>El principito</h5>
        <div class="content-action">
          <a href="/" class="btn_circle">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/" class="btn_circle">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </article>
      <article>
        <div class="image-book-manage">
          <img src="../../images/libro_bajo_la_misma_estrella.jpg" alt="libro_bajo_la_misma_estrella"
            title="libro_bajo_la_misma_estrella" />
        </div>
        <h5>Bajo la misma estrella</h5>
        <div class="content-action">
          <a href="/" class="btn_circle">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/" class="btn_circle">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </article>
    </section>
  </body>

  </html>