<footer>
    <div class="footer">
      <div class="container-footer">
        <div class="important_information">
          <h5>Información importante</h5>
          <ul>
            <li>Calle 0 No. 75 B 28</li>
            <li>Ciudad - Colombia</li>
            <li>
              <h6>Horario de atención:</h6>
            </li>
            <li>Lunes a Viernes: 8:30am a 6:00pm</li>
            <li>Sábado: 9:00am - 5:00pm</li>
          </ul>
        </div>
        <div class="we">
          <h5>Nosotros</h5>
          <ul>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Sedes</a></li>
            <li><a href="#">Regala un bono</a></li>
          </ul>
        </div>
        <div class="we">
          <h5>Centro de ayuda</h5>
          <ul>
            <li><a href="#">PQRS</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Políticas tratamiento de datos</a></li>
            <li><a href="#">Políticas para cambio de mercancía</a></li>
            <li><a href="#">Reversiones</a></li>
          </ul>
        </div>
      </div>
      <div class="payment_method">
        <h5>Métodos de pago</h5>
        <div>
          <img src="../images/logo_pse.png" alt="pse" title="pse">
          <img src="../images/logo_paypal.png" alt="paypal" title="paypal">
        </div>
      </div>

    </div>
    <div class="container-green">
      <p>Copyright © 2021 - Libreria Books | Todos los derechos reservados</p>
    </div>
  </footer>