<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador | Libreria Books</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="./css/normalize.css">
  <!-- font-awesome CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <!-- font-awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
    integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
    crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="../../../css/styles_generic.css">

</head>