<header class="main-header">
    <div class="main-header-top-bar">
      <div class="content-social-media">
        <h5>Síguenos:</h5>
        <a class="btn_circle"><i class="fab fa-facebook-f"></i></a>
        <a class="btn_circle"><i class="fab fa-instagram"></i></a>
        <a class="btn_circle"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="content-search">
        <input type="search" id="gsearch" name="gsearch" placeholder="Buscar...">
        <span><i class="fas fa-search"></i></span>
      </div>
      <div class="button">
        <i class="far fa-user"></i>
        <a href="/login">
          Iniciar Sesión
        </a>
      </div>
      <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </a>
    </div>
    <div class="main-header-bottom-bar">
      <a href="/" class="logo">
        <img src=".././images/Logo_BooksLibreria.png" alt="logo_books" title="logo_books">
      </a>
      <nav class="main-navbar">
        <ul class="list-menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Promociones</a></li>
          <li><a href="#">Bonos</a></li>
          <li><a href="#">Contacto</a></li>
          <li>
            <a href="/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>