<header class="header-admin">
  <div class="flexH header-top">
    <img src="../../../images/logo_white.png" alt="logo" title="logo">
    <h4>
      <%# locals.userLogged.name %>
    </h4>
  </div>
  <nav>
    <ul>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-chart-pie textShadow"></i>Compras</a></li>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-file-invoice-dollar textShadow"></i>Facturas</a>
      </li>
      <li class="item-menu_admin ani textShadow"><a href="#"><i class="fas fa-cogs"></i>Editar perfil</a></li>
    </ul>
  </nav>
</header>
<section class="section-view-admin">
  <section class="main-top-bar flex">
    <div class="button-exit ani">
      <a href="/users/logout">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </section>