<header class="header-admin">
  <div class="flexH header-top">
    <img src="../../../images/logo_white.png" alt="logo" title="logo">
    <h4>Nombre administrador</h4>
  </div>
  <nav>
    <ul>
      <li class="item-menu_admin ani"><a href="/admin"><i class="fas fa-box-open textShadow"></i>Productos</a></li>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-chart-pie textShadow"></i>Informes</a></li>
      <li class="item-menu_admin ani"><a href="#"><i class="fas fa-file-invoice-dollar textShadow"></i>Factura</a>
      </li>
      <li class="item-menu_admin ani"><a href="/admin/customers"><i class="fas fa-users textShadow"></i>Clientes</a>
      </li>
      <li class="item-menu_admin ani textShadow"><a href="#"><i class="fas fa-cogs"></i>Configuración</a></li>
    </ul>
  </nav>
</header>
<section class="section-view-admin">
  <section class="main-top-bar flex">
    <div class="button-exit ani">
      <a href="#">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </section>