<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libreria Books</title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="./css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
    integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <div class="content-social-media">
        <h5>Síguenos:</h5>
        <a class="btn_circle"><i class="fab fa-facebook-f"></i></a>
        <a class="btn_circle"><i class="fab fa-instagram"></i></a>
        <a class="btn_circle"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="content-search">
        <input type="search" id="gsearch" name="gsearch" placeholder="Buscar...">
        <span><i class="fas fa-search"></i></span>
      </div>
      <div class="button">
        <i class="far fa-user"></i>
        <a href="#">
          Iniciar Sesión
        </a>
      </div>
      <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </a>
    </div>
    <div class="main-header-bottom-bar">
      <a href="/" class="logo">
        <img src="./images/Logo_BooksLibreria.png" alt="logo_books" title="logo_books">
      </a>
      <nav class="main-navbar">
        <ul class="list-menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Promociones</a></li>
          <li><a href="#">Bonos</a></li>
          <li><a href="#">Contacto</a></li>
          <li>
            <a href="/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="banners">
  </div>
  <section class="section-news">
    <h2 class="title_one_line">NOVEDADES</h2>
    <div class="slider">
      <a href="#" class="slide"><img src="../images/libro_pez.jpg" alt="libro_pez" title="libro_pez"></a>
      <a href="#" class="slide"><img src="../images/libro_el_quinto_infierno.jpg" alt="libro_quinto_infierno"
          title="libro_quinto_infierno"></a>
      <a href="#" class="slide"><img src="../images/libro_bajo_la_misma_estrella.jpg" alt="libro_bajo_la_misma_estrella"
          title="libro_bajo_la_misma_estrella"></a>
      <a href="#" class="slide"><img src="../images/libro_el_principito.jpg" alt="libro_el_principito"
          title="libro_el_principito"></a>
      <a href="#" class="slide"><img src="../images/libro_tu_mundo_en_el_mio.jpg" alt="libro_tu_mundo_en_el_mio"
          title="libro_tu_mundo_en_el_mio"></a>
    </div>
  </section>
  <section class="section-recommended">
    <h2 class="title_one_line"><span>RECOMENDADO</span> DEL MES</h2>
    <div class="background_recommended">
      <div class="featured_monthly">
        <img src="../images/featured_monthly_highlights.png" alt="libro_destacado_del_mes"
          title="libro_destacado_del_mes">
      </div>
      <div class="info_featured">
        <h3>HARRY POTTER 7 <span>Y LAS RELIQUIAS DE LA MUERTE</span></h3>
        <div class="content-raiting">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="author">
            <p>|</p>
            <p>J.K ROWLING</p>
          </div>
        </div>
        <div>
          <div class="item_featured">
            <h6>Género:</h6>
            <p>Fantástica y ciencia ficción</p>
          </div>
          <div class="item_featured">
            <h6>Publicación original:</h6>
            <p>21 de julio de 2007</p>
          </div>
          <div class="item_featured">
            <h6>Páginas:</h6>
            <p>697</p>
          </div>
        </div>
        <h3>$ 47.000</h3>
        <div class="sinopsis_featured">
          <h5>Sinopsis</h5>
          <p>
            "Entregadme a Harry Potter -dijo la voz de Voldemort- y nadie sufrirá ningún daño. Entregadme a Harry Potter
            y
            dejaré el
            colegio intacto. Entregadme a Harry Potter y seréis recompensados." Cuando se monta en el sidecar de la moto
            de Hagrid y
            se eleva en el cielo, dejando Privet Drive por última vez, Harry Potter sabe que lord Voldemort y sus
            mortífagos se
            hallan cerca.
          </p>
          <p>El encantamiento protector que había mantenido a salvo a Harry se ha roto, pero él no puede seguir
            escondiéndose. El
            Señor Tenebroso se dedica a aterrorizar a todos los seres queridos de Harry, y, para detenerlo, éste habrá
            de
            encontrar
            y destruir los horrocruxes que quedan. La batalla definitiva debe comenzar: Harry tendrá que alzarse y
            enfrentarse a su
            enemigo...
          </p>
        </div>
        <div class="button_white">
          <i class="fas fa-plus"></i>
          <a href="#">
            Ver más
          </a>
        </div>
      </div>
    </div>
  </section>
  <main>
    <section class="featured-generes">
      <h2 class="title_one_line"><span>GÉNEROS</span> DESTACADOS</h2>
      <p>
        Desde la libreria Books te presentamos algunas categorías destacadas para encontrar tú libro favorito
      </p>
      <div class="item_generes">
        <a href="#">Acción</a>
        <a href="#">Ficción</a>
        <a href="#">Romántico</a>
        <a href="#">Fantástica</a>
        <a href="#">Ciencia Ficción</a>
      </div>
      <div class="container-books-featured">
        <a href="#">
          <img src="../images/la_vida_en_el_centro.jpg" alt="la_vida_en_el_centro" title="la_vida_en_el_centro">
          <h4>La vida en el centro</h4>
        </a>
        <a href="#">
          <img src="../images/palabras.jpg" alt="palabras" title="palabras">
          <h4>Palabras que nos sostienen</h4>
        </a>
        <a href="#">
          <img src="../images/tu_mundo_en_El_mio.jpg" alt="tu_mundo_en_El_mio" title="tu_mundo_en_El_mio">
          <h4>Tu mundo en el mío</h4>
        </a>
        <a href="#">
          <img src="../images/pez.jpg" alt="pez" title="pez">
          <h4>Pez Superventa 20xx</h4>
        </a>
        <a href="#">
          <img src="../images/bajo_la_misma_estrella.jpg" alt="bajo_la_misma_estrella" title="bajo_la_misma_estrella">
          <h4>Bajo la misma estrella</h4>
        </a>
        <a href="#">
          <img src="../images/pez.jpg" alt="pez" title="pez">
          <h4>Pez Superventa 20xx</h4>
        </a>
        <a href="#">
          <img src="../images/el_principito.jpg" alt="el_principito" title="el_principito">
          <h4>El principito</h4>
        </a>
        <a href="#">
          <img src="../images/el_quinto_infierno.jpg" alt="el_quinto_infierno" title="el_quinto_infierno">
          <h4>El Quinto Infierno</h4>
        </a>
      </div>
    </section>
  </main>
  <section class="section-attribute">
    <h2 class="title_one_line"><span>¿POR QUÉ COMPRAR EN</span> LIBRERIA BOOKS?</h2>
    <div class="content-attributes">
      <article>
        <img src="../images/icono_precios.png" alt="icono_precios" title="icono_precios">
        <h3>Los mejores<span>Precios y ofertas</span></h3>
      </article>
      <article>
        <img src="../images/icono_entrega.png" alt="icono_entrega" title="icono_entrega">
        <h3>Rápido y económico<span>Servicio de entrega</span></h3>
      </article>
      <article>
        <img src="../images/icono_compra.png" alt="icono_compra" title="icono_compra">
        <h3>Fácil y 100% segura<span>Compra de libros</span></h3>
      </article>
      <article>
        <img src="../images/icono_libros.png" alt="icono_libros" title="icono_libros">
        <h3>Fácil y rápido<span>Cambio de libros</span></h3>
      </article>
      <article>
        <img src="../images/icono_recibe.png" alt="icono_recibe" title="icono_recibe">
        <h3>Compra en línea<span>Recibe en casa</span></h3>
      </article>
    </div>
  </section>
  <section class="section-newsletter">
    <h2 class="title_one_line"><span>SUSCRÍBETE A NUESTRO</span>NEWSLETTER</h2>
    <p>Entérate de las últimas novedades y recibe descuentos exclusivos</p>
    <div class="content-form-newsletter">
      <form action="/">
        <input type="email" name="" id="" placeholder="Correo electrónico">
        <button type="submit" class="btn-orange">
          Suscribirme
          <i class="far fa-hand-point-up"></i>
        </button>
        <br>
        <div class="checkbox-polity">
          <input type="checkbox" name="" id="">
          <h5>
            Acepto <a href="#"><span class="">
                políticas de privacidad</span></a> y manejo de datos
          </h5>
        </div>
      </form>
    </div>
  </section>
</body>

</html>