<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingreso | Libreria Books</title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="./css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
    integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body class="body_login">
  <div class="login-box">
    <img class="books" src='images\Logo_BooksLibreria.png' alt="logo Books librería">
    <h1>¡Bienvenido de nuevo!</h1>
    <form>
      <!--correo electrónico-->
      <label for="Correo electrónico"></label>
      <input class="correo" type="text" placeholder="Correo electrónico">
      <!--contraseña-->
      <label for="Contraseña"></label>
      <input class="contraseña" type="password" placeholder="Contraseña">
      <br>
      <input class="boton_ingresar" type="sumit" value="Ingresar">
      <a href="#">¿Olvidaste tu contraseña?</a>
      <div class="linea"></div><br>
      <div class="social">
        <a class="icono_google" href="www.google.com"><i class="fab fa-google"></i></a>
        <a class="icono_facebook" href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      </div>
  </div>
  </form>
  </div>
</body>

</html>