<!DOCTYPE html>
<html lang="es">
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Libreria Books</title>
     <link rel="shortcut icon" href="/images/favicon.png">
     <link rel="stylesheet" href="./css/normalize.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
     <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
      integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
      crossorigin="anonymous"></script>
     <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
     <section class="sing_up">
         <div class="sing_up_containerforms">
            <div class="forms">
            <div><h1>Regístrate</h1></div>
            <div><h4 class="date">Registrate utilizando tus datos personales y correo electrónico</h4></div><br>
              <div clase ="container_forms">
               <form id="form-login" action="#" method="post">
                <div><input name="nombre" type="text" class="info" placeholder="Nombre" required></div>
                <div><input name="correo" type="text" class="info" placeholder="Correo electrónico" required></div>
                <div><input name="telefono" type="tel" class="info" placeholder="Teléfono celular"></div>
                <div><input name="ciudad" type="text" class="info" placeholder="Ciudad"></div>
                <div><input name="pass" type="password" class="info" placeholder="Contraseña" required></div>
                <div><input name="repass" type="password" class="info" placeholder="Confirmacion de contraseña" required></div>
                <div><h6 clase="required">* Datos obligatorios en el registro</h6></div>
                 <br>
                 <div id="container-t-and-c">
                 <input type="checkbox" name="condictions" id="t-and-c" class="border">
                 <label for="t-and-c" id="t-and-c">Acepto las <a href=""><span class=""> politicas de privacidad</span></a> y manejo de datos.</label>
                </div>
                 <div class="buttomReg">
                    <i class="far fa-user"></i>
                    <a class="buttomreg" href="#">
                      Registrarme
                    </a>
                  </div>
                </form>
              </div>
            </div>
              <div class="sing_up_containerimg">
                <div class="conect-redes">
                 <div><img class="logo_sing_up" src="./images/Logo_BooksLibreria.png"></div>
                <div><h2 class="ocult">Con redes sociales</h2></div>
                 <div><h4 class="redes">Registrate utilizando tus redes sociales</h4></div>
              </div>
            
              <div class="social_sing_up">
               <div class="face-and-goog">
                <div class="google">
                  <div><a class="btn_circle_sing_up"><i class="fab fa-google"></i></a></div>
                  <div><h6 class="f-and-g">Google</h6></div>
                </div>
                <div class="facebook">
                  <div><a class="btn_circle_sing_up"><i class="fab fa-facebook-f"></i></a></div>
                  <div><h6 class="f-and-g">Facebook</h6></div>
                </div>
                </div>
               </div>
              </div>
              
           </div>
       </section>
    </body>
</html>
