/* Importando Tipografia Poppins de Google Font (Ligth, italic, regular, bold) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

input:active,
input:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

/*styles login*/
.body_login {
  background: url(../images/background_login.jpg) no-repeat center top;
  background-size: cover;
  height: 100vh;
  align-content: center;
}

.login-box {
  width: 80%;
  height: 430px;
  position: relative;
  background:#ffffff;
  color: #000000;
  opacity: 0.7;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  border-radius: 5%;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.login-box .books {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: calc(50% - 50px);
  margin: 10px 0 10px;
  }

.login-box h5 {
  text-align: center;
  display: block;
  font-size: 12px;
  border: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: normal;
}

.login-box input[type="text"],
.login-box input[type="password"], 
.login-box input[type="color"] {
  left: 50%;
  width: 85%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 10px;
  border-radius: 15px;
  color: #dddddd;
  border: none;
  padding-left: 8px;
  text-align:start;
  background-color:#000000;
 }

.login-box .boton_ingresar {
  position: relative;
  left: 25%;
  width: 45%;
  height: 28px;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 12px;
  background: transparent;
  color: #000000;
  opacity: 0.7;
  border-color: #e86621;
  border-radius: 25px;
  display: block;
  font-weight: bold;
  text-align: center;
}

.password_rec {
  font-size: 9px;
  color: #000000;
  position: relative;
  left: -50px;
}

.login-box .a{
  text-decoration:none;
  line-height: 25px;
  color: #000000;
  position: relative;
  right: 15%;
}

.login-box a:hover {
  color: #E86621;
}

.line {
  border-top: 2px solid #dddddd;
  padding: 0;
  margin: 10px auto 0 auto;
  width: 85%;
}

.social-media_login_01 {
  display: flex;
  margin:auto;
  padding-top: -5px;
  justify-content: space-between;
  width: 33%;
}

.login-box02 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 70px;
  background:#ffffff;
  color: #000000;
  opacity: 0.8;
  text-align: center;
  font-size: 12px;
  margin-top: 0px;
  top: 110px;
  left: 0;
}

.login-box02  h5{
 margin-bottom: 10px;
 margin-top: -15px;
 padding-bottom: 20px;
}

.social-media_login_02 {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: -25px;
  width: 40%;
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: bold;
}

/*styles login @media(min-width: 768px)*/

@media (min-width: 768px){
  .login-box h5{
   font-size: 16px; 
   margin-bottom: 20px;
  }

 .login-box input[type="text"],
 .login-box input[type="password"], 
 .login-box input[type="color"] {
  width: 65%;
  height: 43px;
  margin-top: -10px;
  margin-bottom: 20px; /* pendiente de cambio*/
  padding-left: 20px;
  }

  .login-box {
  width: 50%;
  }

  .login-box .boton_ingresar {
  width: 32%;
  /* aca voy */
    
  }


/*styles login @media (min-width: 1200px)*/

@media (min-width: 1200px){

}



/* end styles login */

/* Estilos Inicio */
.main-header {
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
}
.main-header-top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px #dddddd;
  align-items: center;
  padding-bottom: 10px;
}
.content-social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.content-social-media a {
  margin-left: 5px;
}

.hamburguer-button {
  font-size: 15px;
  background-color: #fff;
  text-align: center;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  color: #14070f;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78);
  transition: all 100ms ease-out;
  cursor: pointer;
}
.hamburguer-button:hover {
  color: #e86621;
  transition: all 100ms ease-out;
}

.button,
.content-search {
  display: none;
}
.btn_circle {
  padding: 10px;
  border: solid #cacaca 1px;    
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #e86621 !important;
  cursor: pointer;
  transition: all 400ms ease-out;
}

.btn_circle:hover {
  background-color: #e86621;
  color: #fff !important;
  transition: all 400ms ease-out;
}

.main-header-bottom-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.main-header-bottom-bar .logo {
  width: 55px;
  position: absolute;
  top: 0;
}
.main-header-bottom-bar .logo img {
  width: 100%;
}
.main-navbar {
  display: none;
}
.banners {
  height: 150px;
  margin-top: 80px;
  background-image: url(../images/01Banner_BooksLibreria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title_one_line {
  margin: 25px 15px 25px;
  padding: 5px;
  border-left: solid 3px #e86621;
  color: #612b13;
  font-size: 25px;
}

.title_one_line span {
  font-weight: 400;
  display: block;
  color: #e86621;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.slider img {
  width: 150px;
}

.slide {
  width: 100vw;
  flex-shrink: 0;
  animation-name: slide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.slider:hover .slide {
  animation-play-state: paused;
}

.slide img {
  width: 100%;
  vertical-align: top;
}

.background_recommended {
  height: 205px;
  background-image: url(../images/background_monthly_highlights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.featured_monthly img {
  position: absolute;
  top: 12px;
  left: 23px;
  width: 34%;
}
.sinopsis_featured,
.item_featured,
.author,
.content-raiting {
  display: none;
}

.button_white {
  display: flex;
  border: solid 1px #fff;
  padding: 2px 10px 3px 3px;
  border-radius: 30px;
  flex-direction: row;
  align-items: center;
  transition: all 400ms ease-out;
  width: 70%;
}

.button_white i {
  background-color: #fff;
  padding: 9px;
  border-radius: 20px;
  color: #14070f;
  width: 30px;
  height: 30px;
  font-size: 12px;
  margin-right: 5px;
}
.button_white a {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  transition: all 200ms ease-out;
}

.button_white:hover {
  background-color: #fff;
  transition: all 200ms ease-out;
}

.button_white:hover a {
  color: #14070f;
  transition: all 200ms ease-out;
}

.info_featured {
  color: #fff;
  margin-left: 168px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.info_featured span {
  font-weight: 400;
  display: block;
  font-size: 12px;
}

.featured-generes p {
  text-align: center;
  font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 30px;
}

.item_generes {
  width: 100%;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.item_generes a {
  margin: 1px;
  padding: 1px;
  border-right: solid 1px #707070;
  cursor: pointer;
  font-weight: bold;
}

.item_generes a:hover {
  color: #e86621;
}

.featured-generes a,
.featured-generes h4 {
  color: #14070f;
}

.container-books-featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-books-featured a {
  width: 182px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
.container-books-featured img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.container-books-featured a:hover img {
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78);
}

.content-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-attributes h3 {
  color: #14070f !important;
  font-size: 14px;
  font-weight: 400;
}
.content-attributes h3 span {
  color: #183837 !important;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(-200%);
  }
  65% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-300%);
  }

  95% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}

/* Fin estilos Inicio */

@media (min-width: 768px) {
  /* Estilos Inicio */
  .main-header {
    padding: 15px 15px 0 15px;
  }
  .hamburguer-button {
    display: none;
  }

  .button,
  .content-search {
    display: block;
  }

  .content-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    padding: 5px 13px;
    background-color: #dadada;
    border-radius: 30px;
    border: 0;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78);
    font-size: 13px;
    color: #727272;
  }

  input[type="search"] {
    border: none;
    background: transparent;
    width: 100%;
    height: 18px;
  }

  .button {
    display: flex;
    border: solid 1px #183837;
    padding: 2px 10px 3px 3px;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
    transition: all 400ms ease-out;
  }

  .button i {
    background-color: #183837;
    padding: 9px;
    border-radius: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-right: 5px;
  }
  .button a {
    color: #14070f;
    font-weight: bold;
    font-size: 14px;
    transition: all 200ms ease-out;
  }

  .button:hover {
    background-color: #183837;
    transition: all 200ms ease-out;
  }

  .button:hover a {
    color: #fff;
    transition: all 200ms ease-out;
  }

  .content-social-media {
    opacity: 1;
  }
  .main-navbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .list-menu li {
    margin-left: 20px;
  }

  .list-menu li a {
    color: #14070f;
    font-weight: bold;
    font-size: 14px;
  }

  .list-menu li a:hover {
    color: #e86621;
  }
  .main-header-bottom-bar {
    padding-bottom: 0;
  }

  .main-header-bottom-bar .logo {
    width: 70px;
    position: static;
    margin-left: 15px;
    padding: 5px;
  }

  .banners {
    height: 335px;
    margin-top: 140px;
  }

  .title_one_line {
    margin: 25px 15px;
    padding: 10px;
    font-size: 25px;
  }
  .slide {
    width: 25vw;
    animation-name: slide768;
  }

  .background_recommended {
    height: 500px;
  }
  .info_featured {
    margin-left: 335px;
    font-size: 12px;
    padding: 30px 30px 0 30px;
  }
  .info_featured h5,
  h6 {
    font-size: 13px !important;
  }
  .info_featured h3 {
    font-size: 30px;
  }

  .featured_monthly img {
    position: absolute;
    top: 41px;
    left: 60px;
    width: 27%;
  }

  .info_featured span {
    font-size: 23px;
  }

  .sinopsis_featured,
  .item_featured,
  .author,
  .content-raiting {
    display: flex;
  }
  .content-raiting {
    flex-direction: row;
  }

  .item_featured {
    margin-bottom: 10px;
    align-items: baseline;
  }
  .button_white {
    width: 30%;
  }
  .sinopsis_featured {
    flex-direction: column;
  }

  .item_featured p,
  .author p {
    margin-left: 5px;
  }
  .sinopsis_featured p {
    width: 95%;
    margin-top: 11px;
    text-align: justify;
    font-size: 10px;
  }

  .container-books-featured {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .container-books-featured a {
    width: 168px;
  }
  .item_generes {
    font-size: 16px;
  }

  .item_generes a {
    padding: 0 12px;
  }

  .content-attributes {
    flex-direction: row;
    padding: 10px;
  }
  .content-attributes img {
    width: 80%;
  }
  .content-attributes h3 {
    font-size: 12px;
  }
  .content-attributes h3 span {
    font-size: 14px;
  }

  @keyframes slide768 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  /* Fin estilos Inicio */
}

@media (min-width: 1200px) {
  /* Estilos Inicio */
  .main-header {
    padding: 20px 20px 5px 20px;
  }

  .main-header-bottom-bar {
    padding-bottom: 0;
  }
  .content-search {
    width: 420px;
    padding: 10px 13px;
    font-size: 14px;
  }
  .list-menu li a {
    font-size: 16px;
  }

  .banners {
    height: 600px;
    margin-top: 150px;
  }

  .title_one_line {
    margin: 25px 20px 30px;
    padding: 10px;
    font-size: 30px;
  }

  .slide {
    width: 22vw;
  }

  .background_recommended {
    height: 690px;
  }

  .info_featured {
    margin-left: 600px;
    font-size: 16px;
  }

  .featured_monthly img {
    top: 50px;
    left: 120px;
    max-width: 300px;
  }
  .info_featured h3 {
    font-size: 40px;
  }

  .info_featured h5,
  h6 {
    font-size: 18px !important;
  }

  .sinopsis_featured p {
    width: 85%;
    font-size: 15px;
  }
  .button_white {
    max-width: 115px;
  }
  .container-books-featured {
    max-width: 1200px;
    margin: 50px auto;
  }
  .container-books-featured a {
    width: 248px;
  }
  .featured-generes p {
    font-size: 17px;
  }
  .item_generes {
    font-size: 18px;
  }

  .content-attributes {
    justify-content: space-around;
    padding: 10px;
  }
  .content-attributes img {
    width: 100%;
  }
  .content-attributes h3 {
    font-size: 14px;
  }
  .content-attributes h3 span {
    font-size: 16px;
  }
  /* Fin estilos Inicio */
}