/* Importando Tipografia Poppins de Google Font (Ligth, italic, regular, bold) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

input:active,
input:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

.flexV,
.flexH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexH {
  flex-direction: column;
}

.boxShadow {
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78);
}
.textShadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  -webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  -moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.78);
}
.ani {
  transition: all 100ms ease-out;
}

/* Estilos administracion de productos*/
.header-admin {
  background-color: #183837;
}

.header-top,
.item-menu_admin {
  padding: 20px;
}

.item-menu_admin {
  cursor: pointer;
}
.item-menu_admin:hover {
  background: rgba(255, 255, 255, 0.5);
  border-left: solid #fff 10px;
}

.item-menu_admin:hover a {
  color: #183837;
  font-weight: bold;
}

.header-admin h4,
.header-admin nav ul li a,
.item-menu_admin:hover a i {
  color: #fff;
}

.header-admin h4 {
  margin: 25px 0 0;
}

.header-admin nav ul li a i {
  margin-right: 10px;
  font-size: 25px;
}
