/* Importando Tipografia Poppins de Google Font (Ligth, italic, regular, bold) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

input:active,
input:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}
/*estilos del login*/

.body_login {
  background: url(../images/background_login.jpg) no-repeat center top;
  background-size: cover;
  height: 100vh;
  align-content: center;
}

.login-box {
  width: 50%;
  height: 80%;
  background: rgb(180, 173, 173);
  color: rgb(51, 49, 49);
  opacity: 0.9;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 80px 30px;
  border-radius: 8%;
  text-align: center;
  font-size: 18px;
  align-content: center;
}

.login-box .books {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: calc(50% - 50px);
  margin-right: auto;
  box-sizing: border-box;
}

.login-box h1 {
  text-align: center;
  display: block;
  font-size: 18px;
  margin-top: 15%;
  margin-bottom: 3%;
}

.login-box .input {
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  left: 50%;
  width: 80%;
  height: 40px;
  margin-bottom: 18px;
  font-size: 10px;
  border-radius: 15px;
  color: rgb(145, 62, 62);
  border: none;
  background: white;
  padding-left: 10px;
}

.login-box .boton_ingresar {
  position: relative;
  left: 30%;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  background: transparent;
  color: #14070f;
  opacity: 0.8;
  border-color: orangered;
  border-radius: 25px;
  display: block;
  font-weight: bold;
  text-align: center;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #14070f;
  position: relative;
  right: 20%;
}

.login-box a:hover {
  color: rgb(138, 134, 134);
}

.linea {
  border-top: 1px solid rgb(73, 72, 72);
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
  width: 85%;
}

.social {
  width: 95%;
  max-width: 900px;
  padding: 0px;
  margin: auto;
}

.icono_google {
  color: orangered;
  border-radius: 50%;
  border: solid 2px orangered;
  padding: 10px;
  left: -10%;
  margin: 0 20px 0 0;
}

.icono_facebook {
  color: orangered;
  border-radius: 50%;
  border: solid 2px orangered;
  padding: 10px;
  left: -10%;
}

/* Estilos Inicio */
.main-header {
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}
.main-header-top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px #dddddd;
  align-items: center;
  padding-bottom: 10px;
}
.content-social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.content-social-media a {
  margin-left: 5px;
}

.hamburguer-button {
  font-size: 15px;
  background-color: #fff;
  text-align: center;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  color: #14070f;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78);
  transition: all 100ms ease-out;
  cursor: pointer;
}
.hamburguer-button:hover {
  color: #e86621;
  transition: all 100ms ease-out;
}

.button,
.content-search {
  display: none;
}
.btn_circle {
  padding: 10px;
  border: solid #e86621 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #e86621 !important;
  cursor: pointer;
  transition: all 400ms ease-out;
}

.btn_circle:hover {
  background-color: #e86621;
  color: #fff !important;
  transition: all 400ms ease-out;
}

.main-header-bottom-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.main-header-bottom-bar .logo {
  width: 55px;
  position: absolute;
  top: 0;
}
.main-header-bottom-bar .logo img {
  width: 100%;
}
.main-navbar {
  display: none;
}
.banners{
  background-color: #e86621;
  width: 100%;
  height: 150px;
  margin-top: 61px;
}

.title_one_line{
  margin: 15px;
  padding: 5px;
  border-left: solid 3px #e86621;
  color:#612B13;
  font-size: 17px;
}
/* Fin estilos Inicio */

@media (min-width: 768px) {
  /* Estilos Inicio */
  .main-header {
    padding: 15px 15px 0 15px;
  }
  .hamburguer-button {
    display: none;
  }

  .button,
  .content-search {
    display: block;
  }

  .content-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    padding: 5px 13px;
    background-color: #dadada;
    border-radius: 30px;
    border: 0;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.78);
    font-size: 13px;
    color: #727272;
  }

  input[type="search"] {
    border: none;
    background: transparent;
    width: 100%;
    height: 18px;
  }

  .button {
    display: flex;
    border: solid 1px #183837;
    padding: 2px 10px 3px 3px;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
    transition: all 400ms ease-out;
  }

  .button i {
    background-color: #183837;
    padding: 9px;
    border-radius: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-right: 5px;
  }
  .button a {
    color: #14070f;
    font-weight: bold;
    font-size: 14px;
    transition: all 200ms ease-out;
  }

  .button:hover {
    background-color: #183837;
    transition: all 200ms ease-out;
  }

  .button:hover a {
    color: #fff;
    transition: all 200ms ease-out;
  }

  .content-social-media {
    opacity: 1;
  }
  .main-navbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .list-menu li {
    margin-left: 20px;
  }

  .list-menu li a {
    color: #14070f;
    font-weight: bold;
    font-size: 14px;
  }

  .list-menu li a:hover {
    color: #e86621;
    
  }
  .main-header-bottom-bar {
    padding-bottom: 0;
  }
  
  .main-header-bottom-bar .logo {
    width: 70px;
    position: static;
    margin-left: 15px;
    padding: 5px;
  }

  .banners{
    height: 300px;
    margin-top: 140px;
  }

  .title_one_line{
    margin: 25px;
    padding: 10px;
    font-size: 21px;
  }
  /* Fin estilos Inicio */
}

@media (min-width: 1200px) {
  /* Estilos Inicio */
  .main-header {
    padding: 20px 20px 5px 20px;
  }

  .main-header-bottom-bar {
    padding-bottom: 0;
}
  .content-search {
    width: 420px;
    padding: 10px 13px;
    font-size: 14px;
  }
  .list-menu li a {
    font-size: 16px;
  }

  .banners{
    height: 440px;
  }

  .title_one_line{
    margin: 35px;
    padding: 10px;
    font-size: 30px;
  }

  /* Fin estilos Inicio */
}
