/* Importando Tipografia Poppins de Google Font (Ligth, italic, regular, bold) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/*estilos del login*/

.body_login {
  background: url(../images/background_login.jpg) no-repeat center top;
  background-size: cover;
  height: 100vh;
  align-content: center;
}

.login-box {
  width: 50%;
  height: 80%;
  background: rgb(180, 173, 173);
  color: rgb(51, 49, 49);
  opacity: 0.9;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 80px 30px;
  border-radius: 8%;
  text-align: center;
  font-size: 18px;
  align-content: center;
}

.login-box .books {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: calc(50% - 50px);
  margin-right: auto;
}

.login-box h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  font-size: 18px;
  margin-top: 15%;
  margin-bottom: 3%;
}

.login-box label {
  margin: 0;
  padding: 0;
}

.login-box .input {
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  left: 50%;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 10px;
  border-radius: 8px;
  color: rgb(145, 62, 62);
  border: none;
  background: white;
  padding-left: 10px;
}

.login-box .boton_ingresar {
  position: relative;
  left: 30%;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  background: transparent;
  color: black;
  opacity: 0.8;
  border-color: orangered;
  border-radius: 25px;
  display: block;
  font-weight: bold;
  text-align: center;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: black;
  position: relative;
  right: 20%;
}

.login-box a:hover {
  color: rgb(138, 134, 134);
}

.linea {
  border-top: 1px solid rgb(73, 72, 72);
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
  width: 85%;
}

.social {
  width: 95%;
  max-width: 900px;
  padding: 0px;
  margin: auto;
}

.icono_google {
  color: orangered;
  border-radius: 50%;
  border: solid 2px orangered;
  padding: 10px;
  left: -10%;
  margin: 0 20px 0 0;
}

.icono_facebook {
  color: orangered;
  border-radius: 50%;
  border: solid 2px orangered;
  padding: 10px;
  left: -10%;
}
