<%- include('../partials/head')%>

  <body class="body-login">
    <div>
      <div class="login-box">
        <div class="image-logo">
          <a href="/">
            <img class="books" src='../../images/Logo_BooksLibreria.png' alt="logo Books librería"
              title="logo Books librería">
          </a>
        </div>
        <h1>¡Bienvenido de nuevo!</h1>
        <form action="/users/login" method="POST">
          <div>
            <input type="email" name="email" class="input-login" placeholder="Correo electrónico">
            <% if(locals.errors && errors.email){%>
              <div class="alert-danger">
                <%= errors.email.msg %>
              </div>
              <%} %>
                <input type="password" name="pass" class="input-login" placeholder="Contraseña">
          </div>
          <button class="btn-orange btn-login-in" type="submit">
            <i class="fas fa-sign-in-alt"></i>
            <span>Ingresar</span>
          </button>
          <div class="checkbox-password">
            <input type="checkbox" name="recovery-pass">
            <h5>
              <a href="#">¿Olvidaste tu contraseña?</a>
            </h5>
          </div>
        </form>
      </div>
      <div class="section-footer-bottom">
        <h6>¡Síguenos en nuestras redes sociales!</h6>
        <div class="social-media-footer">
          <a href="#" class="btn_circle"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="btn_circle"><i class="fab fa-instagram"></i></a>
          <a href="#" class="btn_circle"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </body>

  </html>