<%- include('../partials/head')%>

  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <div class="content-social-media">
          <h5>Síguenos:</h5>
          <a class="btn_circle"><i class="fab fa-facebook-f"></i></a>
          <a class="btn_circle"><i class="fab fa-instagram"></i></a>
          <a class="btn_circle"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="content-search">
          <input type="search" id="gsearch" name="gsearch" placeholder="Buscar...">
          <span><i class="fas fa-search"></i></span>
        </div>
        <div class="button">
          <i class="far fa-user"></i>
          <a href="/login">
            Iniciar Sesión
          </a>
        </div>
        <a href="#" class="hamburguer-button">
          <i class="fas fa-bars"></i>
        </a>
      </div>
      <div class="main-header-bottom-bar">
        <a href="/" class="logo">
          <img src=".././images/Logo_BooksLibreria.png" alt="logo_books" title="logo_books">
        </a>
        <nav class="main-navbar">
          <ul class="list-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Bonos</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
              <a href="/carrito" class="btn_circle">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="breadcrumb">
      <ul>
        <li>Inicio</li>
        <li>/</li>
        <li>Tienda</li>
        <li>/</li>
        <li>Literatura universal</li>
        <li>/</li>
        <li class="active_book">El principito</li>
      </ul>
    </section>
    <section class="section-product">
      <div class="gallery">
        <div class="image_min">
          <img src="../images/product_el_principito.png" alt="el_principito" title="el_principito">
          <img src="../images/product_el_principito.png" alt="el_principito" title="el_principito">
          <img src="../images/product_el_principito.png" alt="el_principito" title="el_principito">
          <img src="../images/product_el_principito.png" alt="el_principito" title="el_principito">
          <img src="../images/product_el_principito.png" alt="el_principito" title="el_principito">
        </div>
        <div class="image_max">
          <img src="../images/product_el_principito.png" alt="el_principito" title="el_principito">
        </div>
      </div>
      <div class="info-product">
        <h1>El principito</h1>
        <div class="content-raiting content-review">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>|</p>
          <div class="total_reviews">
            <p><span>90 </span>reseñas</p>
          </div>
        </div>
        <div class="container-price">
          <h3>$70.800</h3>
          <div class="content-sku">
            <h5>SKU:</h5>
            <p>9789877514308</p>
          </div>
        </div>
        <div class="accordeon">
          <div class="item_generes">
            <a href="#">Descripción</a>
            <a href="#">Especificaciones</a>
            <a href="#">Politícas de envío</a>
          </div>
          <p>
            Es una narración corta del escritor francés Antoine de Saint-Exupéry, que trata de la historia de un pequeño
            príncipe
            que parte de su asteroide a una travesía por el universo, en la cual descubre la extraña forma en que los
            adultos ven la
            vida y comprende el valor del amor y la amistad.
          </p>
        </div>
        <div class="quantity">
          <h4>Cantidad:</h4>
          <input type="number" step="1" min="1" max="218" name="quantity" value="1" title="Cantidad" size="4"
            inputmode="numeric">
        </div>
        <div class="content-btn-car">
          <div class="btn-orange btn-car">
            <i class="fas fa-cart-plus"></i>
            <span>Añadir al carrito</span>
          </div>
        </div>
      </div>
    </section>
    <section class="related-products">
      <h2 class="title_one_line"><span>PRODUCTOS</span>RELACIONADOS</h2>
      <div class="products">
        <a href="#" class="item_product">
          <article>
            <h5>Pez Superventa 20xx</h5>
            <p>$85.200</p>
            <img src="../images/product_pez.png" alt="libro pez" title="libro pez">
            <div class="btn-orange btn-car-product">
              <i class="fas fa-cart-plus"></i>
              <span>Añadir al carrito</span>
            </div>
          </article>
        </a>
        <a href="#" class="item_product">
          <article>
            <h5>El quinto infierno</h5>
            <p>$50.000</p>
            <img src="../images/product_infierno.png" alt="El quinto infierno" title="El quinto infierno">
            <div class="btn-orange btn-car-product">
              <i class="fas fa-cart-plus"></i>
              <span>Añadir al carrito</span>
            </div>
          </article>
        </a>
        <a href="#" class="item_product">
          <article>
            <h5>Bajo la misma estrella</h5>
            <p>$35.800</p>
            <img src="../images/product_bajo_la_misma_estrella.png" alt="Bajo la misma estrella"
              title="Bajo la misma estrella">
            <div class="btn-orange btn-car-product">
              <i class="fas fa-cart-plus"></i>
              <span>Añadir al carrito</span>
            </div>
          </article>
        </a>
        <a href="#" class="item_product">
          <article>
            <h5>Tu mundo y El Mio</h5>
            <p>$54.000</p>
            <img src="../images/product_tu_mundo_en_el_mio.png" alt="Tu mundo en el mio" title="Tu mundo en el mio">
            <div class="btn-orange btn-car-product">
              <i class="fas fa-cart-plus"></i>
              <span>Añadir al carrito</span>
            </div>
          </article>
        </a>
      </div>
    </section>
    <section class="reviews">
      <h2 class="title_one_line">RESEÑAS</h2>
      <div class="section-filter">
        <p><span>2</span> Comentarios</p>
        <div>
          <h4 for="filter">Organizar Por</h4>
          <select name="filter" id="filter">
            <option value="1">Recientes Primero</option>
            <option value="2">A - Z</option>
            <option value="3">Z - A</option>
          </select>
        </div>
      </div>
      <article class="article-review">
        <div class="content-date">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>|</p>
          <p>12/10/2021</p>
        </div>
        <h3>Nombre Usuario</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem recusandae eligendi laborum blanditiis quod,
          ipsam
          suscipit, animi exercitationem iusto necessitatibus veritatis culpa, eos delectus. Inventore, illum.
          Consequatur
          nulla natus laboriosam.</p>
      </article>
      <article class="article-review">
        <div class="content-date">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>|</p>
          <p>24/10/2021</p>
        </div>
        <h3>Nombre Usuario</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem recusandae eligendi laborum blanditiis quod,
          ipsam
          suscipit, animi exercitationem iusto necessitatibus veritatis culpa, eos delectus. Inventore, illum.
          Consequatur
          nulla natus laboriosam.</p>
      </article>
    </section>
    <footer>
      <div class="footer">
        <div class="container-footer">
          <div class="important_information">
            <h5>Información importante</h5>
            <ul>
              <li>Calle 0 No. 75 B 28</li>
              <li>Ciudad - Colombia</li>
              <li>
                <h6>Horario de atención:</h6>
              </li>
              <li>Lunes a Viernes: 8:30am a 6:00pm</li>
              <li>Sábado: 9:00am - 5:00pm</li>
            </ul>
          </div>
          <div class="we">
            <h5>Nosotros</h5>
            <ul>
              <li><a href="#">Quiénes somos</a></li>
              <li><a href="#">Sedes</a></li>
              <li><a href="#">Regala un bono</a></li>
            </ul>
          </div>
          <div class="we">
            <h5>Centro de ayuda</h5>
            <ul>
              <li><a href="#">PQRS</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Políticas tratamiento de datos</a></li>
              <li><a href="#">Políticas para cambio de mercancía</a></li>
              <li><a href="#">Reversiones</a></li>
            </ul>
          </div>
        </div>
        <div class="payment_method">
          <h5>Métodos de pago</h5>
          <div>
            <img src="../images/logo_pse.png" alt="pse" title="pse">
            <img src="../images/logo_paypal.png" alt="paypal" title="paypal">
          </div>
        </div>

      </div>
      <div class="container-green">
        <p>Copyright © 2021 - Libreria Books | Todos los derechos reservados</p>
      </div>
    </footer>
  </body>

  </html>