<%- include('../partials/head')%>

  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <div class="content-social-media">
          <h5>Síguenos:</h5>
          <a class="btn_circle"><i class="fab fa-facebook-f"></i></a>
          <a class="btn_circle"><i class="fab fa-instagram"></i></a>
          <a class="btn_circle"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="content-search">
          <input type="search" id="gsearch" name="gsearch" placeholder="Buscar...">
          <span><i class="fas fa-search"></i></span>
        </div>
        <div class="button">
          <i class="far fa-user"></i>
          <a href="/login">
            Iniciar Sesión
          </a>
        </div>
        <a href="#" class="hamburguer-button">
          <i class="fas fa-bars"></i>
        </a>
      </div>
      <div class="main-header-bottom-bar">
        <a href="/" class="logo">
          <img src=".././images/Logo_BooksLibreria.png" alt="logo_books" title="logo_books">
        </a>
        <nav class="main-navbar">
          <ul class="list-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Bonos</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
              <a href="/carrito" class="btn_circle">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="breadcrumb">
      <ul>
        <li>Inicio</li>
        <li>/</li>
        <li class="active_book">Tienda</li>
      </ul>
    </section>
    <section>
      <h1 class="title_one_line"><span>TIENDA DE</span>PRODUCTOS</h1>
    </section>
    <section class="section-list-products">
      <aside class="content-filter">
        <h2>Filtra tu búsqueda</h2>
        <hr>
        <h3>Categoría</h3>
        <ul>
          <li><a href="#">Acción</a></li>
          <li><a href="#">Ficción</a></li>
          <li><a href="#">Romántico</a></li>
          <li><a href="#">Novela gráfica</a></li>
          <li><a href="#">Young adult</a></li>
        </ul>
        <hr>
        <h3>Idioma</h3>
        <ul>
          <li><a href="#">Español</a></li>
          <li><a href="#">Inglés</a></li>
          <li><a href="#">Italiano</a></li>
          <li><a href="#">Alemán</a></li>
          <li><a href="#">Francés</a></li>
        </ul>
        <hr>
        <h3>Fecha de publicación</h3>
        <ul>
          <li><input type="checkbox" name="date_public">-15 días.</li>
          <li><input type="checkbox" name="date_public">-30 días.</li>
          <li><input type="checkbox" name="date_public">-90 días.</li>
        </ul>
        <hr>
        <h3>Precio</h3>
        <input type="range" min="0" max="185900">
      </aside>
      <section class="section-article-products">
        <article class="article-product-list">
          <img src="../../images/product-list-infierno.jpg" alt="">
          <h5>Pez Superventa 20xx</h5>
          <p>$85.200</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-infierno.jpg" alt="">
          <h5>El Quinto Infierno</h5>
          <p>$35.000</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-estrella.jpg" alt="">
          <h5>Bajo la misma estrella</h5>
          <p>$70.500</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-mundo.jpg" alt="">
          <h5>Tu mundo en el mio</h5>
          <p>$54.000</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-infierno.jpg" alt="">
          <h5>El Quinto Infierno</h5>
          <p>$35.000</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-infierno.jpg" alt="">
          <h5>El Quinto Infierno</h5>
          <p>$35.000</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-estrella.jpg" alt="">
          <h5>Bajo la misma estrella</h5>
          <p>$70.500</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
        <article class="article-product-list">
          <img src="../../images/product-list-mundo.jpg" alt="">
          <h5>Tu mundo en el mio</h5>
          <p>$54.000</p>
          <div class="content-btn-list-product">
            <a href="/productos/carrito" class="btn_circle">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/productos/detalle-producto" class="btn_circle">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </article>
      </section>
    </section>
    <footer>
      <div class="footer">
        <div class="container-footer">
          <div class="important_information">
            <h5>Información importante</h5>
            <ul>
              <li>Calle 0 No. 75 B 28</li>
              <li>Ciudad - Colombia</li>
              <li>
                <h6>Horario de atención:</h6>
              </li>
              <li>Lunes a Viernes: 8:30am a 6:00pm</li>
              <li>Sábado: 9:00am - 5:00pm</li>
            </ul>
          </div>
          <div class="we">
            <h5>Nosotros</h5>
            <ul>
              <li><a href="#">Quiénes somos</a></li>
              <li><a href="#">Sedes</a></li>
              <li><a href="#">Regala un bono</a></li>
            </ul>
          </div>
          <div class="we">
            <h5>Centro de ayuda</h5>
            <ul>
              <li><a href="#">PQRS</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Políticas tratamiento de datos</a></li>
              <li><a href="#">Políticas para cambio de mercancía</a></li>
              <li><a href="#">Reversiones</a></li>
            </ul>
          </div>
        </div>
        <div class="payment_method">
          <h5>Métodos de pago</h5>
          <div>
            <img src="../images/logo_pse.png" alt="pse" title="pse">
            <img src="../images/logo_paypal.png" alt="paypal" title="paypal">
          </div>
        </div>

      </div>
      <div class="container-green">
        <p>Copyright © 2021 - Libreria Books | Todos los derechos reservados</p>
      </div>
    </footer>
  </body>

  </html>